/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-2{
    width: 50%;
}

.col-3{
    width: 33.33333%;
}

.row{
    float: left;
}

.clear{
    clear: both;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header-container{
    width: 100%;
    height: 110px;
    padding-top: 10px;
}

.header{
    max-width: 1250px;
    height: 100px;
    background-color: #fff;
    margin: auto;
}

.logo i{
    color: #e6b807;
    background-color: #002146;
    border-radius: 50%;
    font-size: 20px;
    padding: 11px;
    font-weight: 600;
}

.content-logo{
    color: #002146;
    font-size: 36px;
    display: inline-block;
    font-weight: 600;
    padding-left: 5px;
}

a{
    text-decoration: none;
}

.menu{
    font-size: 20px;
    margin-left: 8px;
}

.menu li{
    display: inline-block;
    padding: 15px;
}

#banner{
    background-position: top;
    width: 100%;
    height: 85vh;
    background: url('../img1/2.jpg') top center /cover no-repeat ;
}

/* main */
#main{

}

/* content */
#content{
    max-width: 1250px;
    margin: auto;
    padding: 60px 0;
}

#content .text-content{
    float: left;
    width: 50%;
    padding: 0 40px;
}

#content .text-heading{
    font-size: 36px;
    margin-bottom: 16px;
}

#content .sub-heading{
    font-size: 16px;
    line-height: 1.4;   
}

#content .text-button{
    font-size: 20px;
    margin-top: 40px;
    padding: 16px 32px;
    color: #042444;
    background-color: #FDC800;
    border: none;
    border-radius: 4px;

}

/* action */
#action{
    height: 170px;
    background-color: #f6f6f6;
}

#action .content-action{
    max-width: 1250px;
    margin: auto;
}

#action .action-item{
    width: 25%;
    float: left;
}

#action .heading-action{
    font-size: 56px;
    color: #000;
    float: left;
}

#action .text-action{
    font-size: 16px;
    color: #000;
    float: left;
    margin: 16px 0;
}

/* item  */
#icon-item{
    height: 516px;
    padding: 80px;
}

#icon-item .items{
    max-width: 1250px;
    width: 100%;
    margin: auto;
}

#icon-item .item-content{
    padding: 12px;
    float: left;
    width: 25%;
}

#icon-item .item{
    color: #fff;
    background-color: #042444;
    border-radius: 6px;
    padding: 42px;
    text-align: center;
    line-height: 1.6;
}

.item i{
    font-size: 42px;
}
.item p{
    font-size: 16px;
}

/* new */
#news{
    background-color: #f6f6f6;
}

#news .container-new{
    height: 950px;
    max-width: 1250px;
    padding: 100px 0;
    margin: auto;
}

#news .new-heading{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

#news .new{
    float: left;
    
}

#news .new1{
    padding-right: 36px;
}

#news .new2{
    padding-left: 36px;
}


#news .new-img{
    padding: 12px;
}

#news .new1-item{
    padding: 12px 12px 6px 12px;
    background-color: #fff;
}

.new-img img{
    width: 100%;
    border-radius: 6px;
}

#news .new-content{
    padding: 12px;
}

#news .time-new{
    margin: 16px 0;
}
#news .text-new{
    margin: 16px 0;
    line-height: 1.4;
}

#news .new-button{
    background-color: #FDC800;
    color: #042444;
    border-radius: 6px;
    padding: 16px 32px;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    float: right;
}

.calender-new{
    width: 25%;
    padding: 12px;
    text-align:  center;
}

.describe{
    width: 75%;
    padding: 12px;
}

.day{
    font-size: 30px;
    font-weight: 600;
}

.day-month-new{
    padding: 16px;
    color: #000;
    background-color: #FDC800;
    border-radius: 6px 6px 0 0;
}
.year{
    color: #fff;
    background-color: #002146;
    padding: 16px;
    border-radius: 0 0 6px 6px;
}

.new2-item{
    padding: 12px 12px 6px 12px;
    margin-bottom: 24px;
    background-color: #fff;
}

.time{
    padding-right: 10px;
}

.where{
    padding-left: 10px;
    border-left: 2px solid #939393;
}

/* footer */
#footer {
    background-color: #002146;
    color: white;
    width: 100%;
    height: auto;
}

#footer .footer-container{
    max-width: 1250px;
    margin: auto;
    padding: 80px;
}

#footer .footer-content{
    padding-right: 30px;
}

#footer .footer-content-heading{
    font-size: 24px;
    color: #fff;
    margin-bottom: 24px;
    font-weight: 700;
}

#footer .footer-text-content{
    font-size: 18px;
    margin-bottom: 16px;
    list-style-type: none;
}

.footer-text-content a{
    color: #fff;
    list-style-type: none;
}

#footer .footer-icon{
    color: #e6b807;
    padding-right: 12px;
    font-weight: 700;
}

.copyright{
    border-top: 2px solid #ddd;
}

.copyright-content{
    padding-top: 32px;
    font-size: 18px;
}
.copyright-logo{
    padding-right: 5px;
}

.copyright-link{
    color: #939393;
}